* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}


section > ul > li {
    letter-spacing: 10px;
}

h1{
    font-size: 3rem;
}

#sub-header{
    text-transform: uppercase;
}

.text>li{
    background-color: lightgreen;
}

.border>li{
    border: 1px solid lightskyblue;
}

#yellow{
    color: yellow;
}

section > img {
    border-radius: 100px;
    height: 20vh;
    width: 20vh;

}

img + ul {
    list-style-type: none;
}

section>p{
    text-align: center;
}